apiVersion: apps/v1
kind: Deployment  # [종류] 배포 관리자 (이 녀석이 Pod를 관리함)
metadata:
  name: migration-worker-deployment
spec:
  replicas: 1  # [개수] "항상 1개를 유지해라" (죽으면 다시 살림)
  selector:
    matchLabels:
      app: migration-worker
  template:  # [본문] 여기서부터가 실제 컨테이너 설정 (docker run 내용과 동일)
    metadata:
      labels:
        app: migration-worker
    spec:
      containers:
      - name: migration-app
        image: migration-app:v1  # [이미지] 우리가 만든 그 이미지
        imagePullPolicy: Never   # [중요!] "인터넷에서 찾지 말고 내 컴퓨터(로컬)에 있는거 써!"
        env:  # [환경변수] docker run -e 옵션들을 여기에 적습니다.
        - name: spring.integration.sftp.host
          value: "host.docker.internal" #local host의 위치설정
        - name: spring.cloud.azure.storage.blob.connection-string
          value: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://host.docker.internal:10000/devstoreaccount1;"
